body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header .line {
    background-color: #d9ff01;
    height: 10px;
}

.logo-area{
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.logo-area h1 {
    font-size: 55px;
}

.logo-area img {
    width: 120px;
    height: 120px;;
    border-radius: 50%;
    border: 3px solid #000;
    margin: 20px 30px;

}

.textinhos {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
    margin-top: 90px;
    margin-bottom: 50px;
}

.texto {
    width: 520px;
    height: 420px;
    border: 2px solid black;
    margin: 20px;
}
.textog{
    width: 530px;
    height: 600px;
    border: 2px solid black;
    margin: 20px;
}
.texto h1, .textog h1 {
    text-align: center;
}
.texto p, .textog p {
    padding: 15px;
}
.button{
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #4e4e4e;
    font-size:11px;
    font-weight: 600;
    text-decoration:none;
    padding: 15px 35px;
    margin-top: 30px;
    border-radius: 20px;
}
.back {
    margin: auto;
}
nav{
    display:flex;
}